.jumbotron{
    background-color: pink;
    text-align: center;
    margin: 20px;
}

.btn{
    margin-right: 10px;
}

.signUp{
    margin: 20px;
}

.types{
    background-color: green;
    width: 20%;
    border-radius: 12px;
}

.things{
    background-color: purple;
    width: 20%;
    border-radius: 12px;

}