.jumbotron{
    text-align: center;
    margin: 20px;
    color: #EDC7B7;
    background: none;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.btn{
    margin-right: 10px;
    background-color: #EDC7B7;
    border: none;
    color: #123C69 ;
}

.btn:hover{
    color: #123C69;
    background-color: #5AAA95;
}

.signUp{
    margin: 20px;
}

label{
    color: #EDC7B7;
    font-family: 'Spartan', sans-serif;
}
.types{
    background: none;
    width: 20%;
    display: block;
    float: left;
    margin-left: 35%;
    color: #EDC7B7;
    font-family: 'Spartan', sans-serif;
}

.things{
    background: none;
    display: block;
    float: right;
    margin-right: 35%;
    margin-bottom: 15px;
    color: #EDC7B7;
    font-family: 'Spartan', sans-serif;
}

h3{
    text-align: center;
    color: #EDC7B7;
    font-family: 'Spartan', sans-serif;
}

.btnSubmit{
    color: #123C69 ;
    background-color: #EDC7B7;
}

hr{
    border-top: 3px solid #EDC7B7;
}

p{
    color: #EDC7B7;
    font-family: 'Spartan', sans-serif;
    text-align: center;
}

body {
    background-image: url(../images/Calm\ Ocean.jpg);
    background-size: cover;
    background-position: center top;
}
  
